@import 'variables';

.card-item {
    margin-top: 16px;
}

.card-img-top {
    height: 250px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    border-radius: 15px;
}

// .card-detail{
//     margin-right: 5px;
// }
